<InteractConfig defaultTarget='Main'>
    <target name='Main'>
        <get url='http://localhost/'>
            <output name='title' xpath='//h1' attr='text()' />
        </get>
    </target>
    
    <target name='Products'>
        <get url='http://localhost/products'>
            <output name='productName' xpath='//span[@class="product-name"]' attr='text()' />
        </get>
    </target>
</InteractConfig>
