<InteractConfig defaultTarget='Main'>
    <target name='Main'>
        <get url='http://localhost/checkout' />
        <post clientID='checkout_form'>
            <formValue name='billing_name' value='$(BillingName)' />
            <formValue name='email' value='$(Email)' />
            <output name='customerName' xpath='//span[@class="customer-name"]' attr='text()' />
            <output name='customerEmail' xpath='//span[@class="customer-email"]' attr='text()' />
        </post>
    </target>
</InteractConfig>
