<InteractConfig defaultTarget='Main'>
    <target name='Main'>
        <!-- Step 1: View products -->
        <get url='$(BaseUrl)/products'>
            <output name='productName' xpath='//span[@class="product-name"]' attr='text()' />
            <output name='price' xpath='//span[@class="price"]' attr='text()' />
        </get>
        
        <!-- Step 2: View cart (default cart item) -->
        <get url='$(BaseUrl)/cart'>
            <output name='cartTotal' xpath='//span[@class="cart-total"]' attr='text()' expectedValue='$25.00' />
            <output name='itemSize' xpath='//span[@class="item-size"]' attr='text()' />
        </get>
    </target>
</InteractConfig>
