<InteractConfig defaultTarget='Main'>
    <target name='Main'>
        <get url='$(BaseUrl)/checkout' />
        <post clientID='checkout_form'>
            <formValue name='billing_name' value='John Doe' />
            <formValue name='email' value='john@example.com' />
            <formValue name='billing_address' value='123 Main St' />
            <formValue name='billing_city' value='Seattle' />
            <formValue name='billing_state' value='WA' />
            <formValue name='billing_zip' value='98101' />
            <formValue name='billing_country' value='USA' />
            <formValue name='credit_card_number' value='4111111111111111' />
            <formValue name='credit_card_month' value='12' />
            <formValue name='credit_card_year' value='2027' />
        </post>
    </target>
</InteractConfig>
