<InteractConfig defaultTarget='Main'>
    <target name='Main'>
        <get url='http://localhost/post-redirect-test-form' />
        <post clientID='redirect-form'>
            <formValue name='billing_name' value='Redirect User' />
            <output name='title' xpath='//h1' attr='text()' />
            <output name='customerName' xpath='//span[@class="customer-name"]' attr='text()' />
        </post>
    </target>
</InteractConfig>
