<InteractConfig defaultTarget="BuyHanesTee">
    <target name="BuyHanesTee">
        <get url="http://www.shop123.com/shop/accessories/jduracgxn" />
        <post clientID="cart-addf">
            <formValue name="s" text="Medium" />
        </post>
        <get url="http://www.shop123.com/shop/cart">
            <output name="itemName" xpath="//span[@class='cart-price-span']" attr="text()" expectedValue="$28">
            </output>
        </get>
        <get url="https://www.shop123.com/checkout">
            <output name="tabName" xpath="//div[@class='tab tab-payment selected']" attr="text()" expectedValue="SHIPPING / PAYMENT">
            </output>
        </get>
        <post clientID="checkout_form">
            <formValue name="order[billing_name]" value="$(FullName)" />
            <formValue name="order[email]" value="$(Email)" />
            <formValue name="order[billing_address]" value="$(StreetAddress)" />
            <formValue name="order[billing_zip]" value="$(ZipCode)" />
            <formValue name="order[billing_city]" value="$(City)" />
            <formValue name="order[billing_state]" value="$(State)" />
            <formValue name="order[billing_country]" value="USA" />
            <formValue name="credit_card[nlb]" value="$(CreditCardNumber)" />
            <formValue name="credit_card[month]" value="$(CreditCardExpMonth)" />
            <formValue name="credit_card[year]" value="$(CreditCardExpYear)" />
            <formValue name="order[terms]" value="1" />
        </post>
    </target>
</InteractConfig>